.details {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.details .view {
  flex: 1;
}

.details .view .info {
}

.details .view .info .baseInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.details .view .info .baseInfo img {
  font-weight: 500;
}

.details .view .info .baseInfo img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.details .view .info .detailInfo {
  font-size: 18px;
}

.details .view .info .detailInfo .item {
  margin: 30px 0px;
}
.details .view .info .detailInfo .item .title {
  font-weight: 600;
  margin-right: 10px;
  text-transform: capitalize;
}

.details .view .info .detailInfo .item .value {
}

.details .view .chart {
  margin-top: 50px;
  width: 80%;
  height: 350px;
}

.details .view hr {
  width: 90;
  height: 0;
  border: 0.25px solid silver;
  margin: 30px 20px;
}

.details .activity {
  flex: 1;
}
.details .activity h2 {
  margin-bottom: 50px;
}
.details .activity li {
  list-style-type: none;
  position: relative;
  width: 1px;
  padding-top: 40px;
  background-color: tomato;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(157, 39, 18, 0.85);
    transform: translateX(-50%);
  }
}
.details .activity div {
  min-width: 480px;
  padding: 15px;
  margin-left: 1px;
  background-color: rgb(157, 39, 18, 0.35);
}
.details .activity div p{
    margin-bottom: 5px;

}
.details .activity div time{
    font-size: 12px;
}
