@import '../../../styles/theme.scss';
@import '../../../styles/responsive.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $box-01;
  color: $tx-prim-dark;
  padding: 0.5rem;
  border: 1px solid $tx-prim-dark;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 7px $gold;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.navbar .logo {
  display: flex;
  align-items: center;
  object-fit: fill;
  cursor: pointer;
}

.navbar .searchBar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $box-03;
  color: $tx-sec-dark;
  border: 2px solid $silver;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-left: 1rem;
  border-radius: 2rem;

  @include lg {
    display: none;
  }
}

.navbar .searchBar svg {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.navbar .searchBar .search-icon-bg {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: $box-04;
  padding: 0.5rem;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  // border-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  // border-radius: 50%;
}

.navbar .navIcons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.navbar .navIcons svg {
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;

  @include sm {
    display: none;
  }
}

.navbar .navIcons .notifications {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;

  @include md {
    display: none;
  }
}

.navbar .navIcons .notifications span {
  background-color: tomato;
  color: $tx-sec-dark;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.navbar .navIcons .user {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}

.navbar .navIcons .user .userName {
  display: flex;
  align-items: center;
  object-fit: cover;
  cursor: pointer;

  @include md {
    display: none;
  }
}

.navbar .navIcons .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

  @include sm {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}
