@import '../../../styles/responsive.scss';
@import '../../../styles/theme.scss';

.areaChart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.areaChart h1 {
  @include lg {
    font-size: 24px;
  }
}

.areaChart .chart {
  width: 100%;
  height: 350px;
}
