@import '../../../styles/theme.scss';
@import '../../../styles/responsive.scss';

.sidebar {
  color: $tx-prim-dark;
}

.sidebar .title {
  margin-bottom: 5px;
  border-bottom: 1px solid;

  @include lg {
    display: none;
  }
}

.sidebar .list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.sidebar .list .itemName {
  font-weight: 200;
  font-size: 16px;
}

.sidebar .list svg {
  height: 24px;
  width: 24px;
}

.sidebar .listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: $hover-01-bg;
    color: $hover-01-tx;
  }

  &:active {
    background-color: $active-01-bg;
    color: $active-01-tx;
  }
}

.sidebar .listItem .itemName {
  @include lg {
    display: none;
  }
}
