@import './theme.scss';
@import './responsive.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.appMain {
  display: flex;
  flex-direction: column;
  background-color: $bg-dark;
  color: $tx-prim-dark;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  padding-top: 0.5rem;
}

.container {
  display: flex;
  height: auto;
  background-color: $box-01;
}

.menuContainer {
  width: 225px;
  padding: 5px 10px;
  border-right: 2px solid $silver;

  @include xl{
    width:200px;
  }

  @include lg{
    width:max-content;
  }
}

.contentContainer {
  width: 99%;
  padding: 5px 10px;
}
