// Background Colors
$bg-dark: #18181b;
$bg-light: #e4e4e7;

// Text Colors
$tx-prim-dark: #d4d4d4;
$tx-prim-light: #44403c;
$tx-sec-dark: #e5e5e5;
$tx-sec-light: #57534e;

// Box Colors
$box-01: #27272a;
// $box-02: ;
// $box-03: ;
