// Background Colors
$bg-dark: #18181b;
$bg-light: #e4e4e7;

// Text Colors
$tx-prim-dark: #cacaca;
$tx-prim-light: #44403c;
$tx-sec-dark: #e5e5e5;
$tx-sec-light: #57534e;

// Box Colors
$box-01: #27272a;
$box-02: #39393e;
$box-03: #37373b;
$box-04: #262628;

//Accent Colors
$hover-01-bg: #75716e;
$hover-01-tx: #4c4947;

$active-01-bg: #4c4947;
$active-01-tx: #3f3c39;

$gold: #d7d064;
$bronze: #946f29;
$silver: #a8adae;
