@import '../../styles/theme.scss';
@import '../../styles/responsive.scss';

.home {
  color: $tx-prim-dark;
}
.home .widgetContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 1rem;
  grid-auto-flow: dense;

  @include xl {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
  }

  @include sm {
    grid-auto-rows: minmax(120px, auto);
  }
}

.home .widgetContainer .widget {
  padding: 10px;
  border: 1px solid $silver;
  border-radius: 5px;
  background-color: $box-04;
}

.home .widgetContainer .widget1 {
  grid-column: span 1;
  grid-row: span 3;

  @include lg {
    grid-column: span 1;
    grid-row: span 2;
  }

  @include sm {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.home .widgetContainer .widget2 {
  grid-column: span 1;
  grid-row: span 1;
}

.home .widgetContainer .widget3 {
  grid-column: span 1;
  grid-row: span 1;
}

.home .widgetContainer .widget4 {
  grid-column: span 1;
  grid-row: span 3;

  @include xl {
    grid-column: span 1;
    grid-row: span 2;
  }

  @include sm {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.home .widgetContainer .widget5 {
  grid-column: span 1;
  grid-row: span 1;
}

.home .widgetContainer .widget6 {
  grid-column: span 1;
  grid-row: span 1;
}

.home .widgetContainer .widget7 {
  grid-column: span 2;
  grid-row: span 2;

  @include md {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.home .widgetContainer .widget8 {
  grid-column: span 1;
  grid-row: span 1;
}

.home .widgetContainer .widget9 {
  grid-column: span 1;
  grid-row: span 1;
}
