.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #27272a;
  color: #a8a29e;
}

.navIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 5rem;
  
}