.footer {
  background-color: #27272a;
  color: #a8a29e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer span {

  &:first-child{
    font-weight: bolder;
    font-size: 16px;
  }

  &:last-child{
    font-weight: bold;
    font-size: 14px;
  }
}