@import '../../../styles/theme.scss';
@import '../../../styles/responsive.scss';

.footer {
  background-color: $box-01;
  color: $silver;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: sticky;
  bottom: 0;
}

.footer span {
  &:first-child {
    font-weight: bolder;
    font-size: 16px;
  }

  &:last-child {
    font-weight: bold;
    font-size: 14px;
  }
}
