@import '../../../styles/theme.scss';
@import '../../../styles/responsive.scss';

.dataTable .dataGrid {
  background-color: $box-05;
  padding: 10px;
  color: $tx-sec-light;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
  padding: 15px;
}

.dataTable .dataGrid .MuiDataGrid-cell img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.dataTable .dataGrid .MuiDataGrid-row {
  background-color: $box-03;
  color: $tx-prim-dark;
}

.dataTable .dataGrid .MuiButtonBase-root {
  color: $tx-prim-light;
}
.dataTable .dataGrid .MuiCheckbox-root {
  color: $tx-prim-light;
}
.dataTable .dataGrid .MuiTablePagination-toolbar {
  color: $tx-prim-light;
}
.dataTable .dataGrid .Mui-disabled {
  color: $tx-prim-light;
}

.dataTable .dataGrid .action {
  display: flex;
  gap: 20px;
}

.dataTable .dataGrid .action img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
