@import '../../styles/theme.scss';
@import '../../styles/responsive.scss';

.users {
  background-color: $box-01;
  color: $silver;
}

.users .info {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// .users .info h1 {
// }

.users .info button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: $tx-sec-dark;
  background-color: $box-03;
  border: solid 2px $tx-prim-dark;
  cursor: pointer;
}
